$interval-line-bg: #edf1f8;
$dedicated-interval-line-bg: #5cadea;

$button-active-color: #0167b3;
$button-active-border: #d3dcf1;
$button-active-color: #d3dcf1;

$primary-text-color: #333333;
$secondary-text-color: #999999;

$primary-bg-color: #ffffff;
